{% extends 'publico/base_publica.html' %}
{# Portada pública: cada sección es un partial en publico/partials/ (estructura espejo de laserena.cl) #}
{% block titulo %}Inicio{% endblock %}
{% block body_class %}v3-pagina-portada{% endblock %}
{% block contenido %}
{% include 'publico/partials/_hero.html' %}
{% include 'publico/partials/_tramites.html' with tramites=tramites %}
{% include 'publico/partials/_noticias.html' with noticias=noticias %}
{% include 'publico/partials/_servicios.html' with servicios=servicios %}
{% include 'publico/partials/_sistema.html' with delegaciones=delegaciones %}
{% include 'publico/partials/_agenda.html' with agenda=agenda %}
{% include 'publico/partials/_accesos.html' with accesos=accesos %}
{% include 'publico/partials/_transparencia.html' %}
{% include 'publico/partials/_sitios.html' %}
{% endblock %}
